@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dax';
  src: url("../fonts/DaxBlack.eot");
  src: url("../fonts/DaxBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/DaxBlack.woff2") format("woff2"), url("../fonts/DaxBlack.woff") format("woff"), url("../fonts/DaxBlack.ttf") format("truetype"), url("../fonts/DaxBlack.svg#DaxBlack") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dax';
  src: url("../fonts/DaxLight.eot");
  src: url("../fonts/DaxLight.eot?#iefix") format("embedded-opentype"), url("../fonts/DaxLight.woff2") format("woff2"), url("../fonts/DaxLight.woff") format("woff"), url("../fonts/DaxLight.ttf") format("truetype"), url("../fonts/DaxLight.svg#DaxLight") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dax';
  src: url("../fonts/DaxMedium.eot");
  src: url("../fonts/DaxMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/DaxMedium.woff2") format("woff2"), url("../fonts/DaxMedium.woff") format("woff"), url("../fonts/DaxMedium.ttf") format("truetype"), url("../fonts/DaxMedium.svg#DaxMedium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dax';
  src: url("../fonts/Dax-Bold.eot");
  src: url("../fonts/Dax-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Dax-Bold.woff2") format("woff2"), url("../fonts/Dax-Bold.woff") format("woff"), url("../fonts/Dax-Bold.ttf") format("truetype"), url("../fonts/Dax-Bold.svg#Dax-Bold") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dax';
  src: url("../fonts/Dax.eot");
  src: url("../fonts/Dax.eot?#iefix") format("embedded-opentype"), url("../fonts/Dax.woff2") format("woff2"), url("../fonts/Dax.woff") format("woff"), url("../fonts/Dax.ttf") format("truetype"), url("../fonts/Dax.svg#Dax") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*# sourceMappingURL=fonts.css.map */